<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>us humans</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:800|Raleway:300&subset=latin-ext');
        body {
            background-color: #fffefc;
        }
    </style>
        <link rel="stylesheet" href="/main.css">
        
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    
    <script type="text/javascript">
    $(document).ready(function(){
      $("ul.gallery li a").attr('rel','landscapes');
      $("ul.gallery li a").fancybox({});
    });
    </script>
    </head>
    
    <body>
    <div id="header">
        <div class="hero-image">
            <div class="hero-text">
        <img src="logo1.png" alt="logo" id="logo">
        <h1 style="font-size: 44px">US HUMANS</h1>
        <h3 style="text-align: center">Connecting through shared stories</h3>
            </div>
     </div>
        
    <div id="about" style="margin-bottom: 5em;">
    <h4 style="font-size: 22px; font-family: 'Raleway', sans-serif;">
    <ul>US HUMANS captures the stories of everyday people all over the world.</ul>
        <ul>These stories help stitch together dialogues, friendships and empathy</ul>
        <ul>that unite as one identity:</ul></h4><h2 style="color: magenta">humans.</h2>
    
</div>
        <h2>
        LATEST STORIES
        </h2>
        
        <div class="gallery">
    <div class="row">
        <div class="column"> 
        <a data-fancybox="gallery" href="gnp01.png" title="Twins">
            <img src="thumb/gnp01.png" alt="twins"></a>
            </div>
            
        <div class="column">
            <a data-fancybox="gallery" href="gnp02.png" title="Pretty Woman">
                <img src="thumb/gnp02.png" alt="prettywoman"> </a>
        </div>
            
        <div class="column">
            <a data-fancybox="gallery" href="gnp03.png" title="Hockey">
            <img src="thumb/gnp03.png" alt="hockey">  
        </div>
            
    </div> 
            
    <div class="row">
            <div class="column">
                <a data-fancybox="gallery" href="gnp04.png" title="Police Academy">
                    <img src="thumb/gnp04.png" alt="police"></a>
            </div>
                
            <div class="column">
                <a data-fancybox="gallery" href="gnp05.png" title="Factory">
                    <img src="thumb/gnp05.png" alt="factory"></a>
            </div>
                
            <div class="column">
                <a data-fancybox="gallery" href="gnp06.png" title="Friend">
                    <img src="thumb/gnp06.png" alt="Friend"></a>
            </div>
    </div>
                
    <div class="row">
        <div class="column">
            <a data-fancybox="gallery" href="gnp07.png" title="Confused">
                <img src="thumb/gnp07.png" alt="confused"></a>
        </div>
        
        <div class="column">                                      
            <a data-fancybox="gallery" href="gnp08.png" title="Fashion">
                <img src="thumb/gnp08.png" alt="fashion"></a>
        </div>
            
            <div class="column" style="margin-bottom: 5em;">
                <a data-fancybox="gallery" href="gnp09.png" title="Family">
                    <img src="thumb/gnp09.png" alt="family"></a>
          </div>
        </div>
            
        </div>
 
<div id="fancybox-tmp"></div><div id="fancybox-loading"><div></div></div><div id="fancybox-overlay"></div><div id="fancybox-wrap"><div id="fancybox-outer"><div class="fancy-bg" id="fancy-bg-n"></div><div class="fancy-bg" id="fancy-bg-ne"></div><div class="fancy-bg" id="fancy-bg-e"></div><div class="fancy-bg" id="fancy-bg-se"></div><div class="fancy-bg" id="fancy-bg-s"></div><div class="fancy-bg" id="fancy-bg-sw"></div><div class="fancy-bg" id="fancy-bg-w"></div><div class="fancy-bg" id="fancy-bg-nw"></div><div id="fancybox-inner"></div><a id="fancybox-close"></a><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a></div></div>

 

<div id="be heard">
        
<h2>YOU'RE PART OF THE NARRATIVE</h2>
        <p style="padding-bottom: 5em;">
            Share your story, sponsor an event, or support a community by connecting with us here <a href="about/about.html">here</a>. 
        </p>
</div>
         
        </ul>

        <div class="navbar">
  <a href="/" class="active">HOME</a>

  <a href="events">EVENTS</a>
    
  <a href="about">ABOUT</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    
</div>
        
    </body>
</html> 