legend {
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
     
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

p{
   padding-top: 0;
    padding-bottom: 0;
}

#about {
    padding-left: 2em;
    padding-bottom: 3em;
}

body {
    
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
     
}

* {
  box-sizing: border-box;
}


/* Add styles to the form container */
.container {
  position: absolute;
  max-width: 300px;
  padding: 16px;
    top: 120px;
    left: 125px;
}


/* Full-width input fields */
 input[id=name]:focus, input[id=email]:focus, input[id=comment]:focus  {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[id=name]:focus, input[id=email]:focus, input[id=comment]:focus {
  background-color: #ddd;
  outline: none;
}

.submit {
  background-color: magenta;
 
  color: white;
  padding: 16px 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.85;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}

.submit:hover {
  opacity: 10;
}

body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("contactimg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.myForm{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

fieldset {
    color: white;   
}

 

}
label.error {
    color: red;
}

.navbar {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    opacity: 0.9;
}
 
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    font-size: 13x;
}
 
.navbar a:hover {
    background-color: #d400e2;
    color: black;
}
 
.navbar a.active {
    background-color: magenta;
    opacity: 0.95;
    color: white;
}

.navbar .icon {
    display: none;
}