html {
    background-color: #08151E;
    }


.hero-image {
    background-image: url("bgimage.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#header {
    width: 100%;
    height: 900px;
}

body {
    background-color: #08151E;
    
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color:white;
    font-weight: 600;
    line-height: 1;
}

h1 {
    text-align: center;
    padding-bottom: none;
    color: white
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: magenta;
}
img {
    height: 250px;
    width: 250px;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
     
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

#logo {
    border: none;
    height: 100px;
    width: 70px;
}

#about {
    text-align: center;
    padding-top: 4em;
}

legend {
    font-size: 20px;
}

label {
    color: red;
}

li {
    list-style-type: none;
}

.column {
    float: left;
    width: 33.33%;
}

 
.row:after {
    display: table;
    clear: both;
}


.navbar {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    opacity: 0.9;
}
 
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    font-size: 13x;
}
 
.navbar a:hover {
    background-color: #d400e2;
    color: black;
}
 
.navbar a.active {
    background-color: magenta;
    opacity: 0.95;
    color: white;
}

.navbar .icon {
    display: none;
}

a {
    color: #0083e8;
}

